.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #737373;
    width: 40%;
    height: 50%;
}

.header{
    background-color: #737373
}

.textinfo1,
.textinfo2,
.textinfo3,
.textinfo4 > span{
  display: inline;
  margin: 10px 5px;
}

.title {
    display: inline-block;
    min-width: 200px;
    font-size: 16px;
    font-weight: bold;
}
